<% if user.present? && user.errors.present? %>
  <ul class="alert alert-danger" role="alert">
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>