<div class="pt-5">
  <ul class="nav nav-pills flex-column mb-auto mx-4">
    <li class="nav-item">
      <div class="d-flex">
        <div class="my-2"><i class="fas fa-user-alt "></i></div>
        <p><%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link text-white' %></p>
      </div>
    </li>
    <li class="nav-item">
      <div class="d-flex">
        <div class="my-2"><i class="fas fa-atlas"></i></div>
        <p><%= link_to '質問一覧', admin_users_path, class: 'nav-link text-white' %></p>
      </div>
    </li>
  </ul>
</div>